@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply 2xl:text-[16px] lg:text-[12px] text-[10px]
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

input {
    outline: none;
}

textarea:focus {
    outline: none;
}

/* Chrome dan Safari */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* Firefox */
input[type="search"]::-webkit-search-clear-button {
    display: none;
}

/* Edge */
input[type="search"]::-ms-clear {
    display: none;
}

textarea::-webkit-scrollbar {
    width: 2px;
}

textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
}

textarea::-webkit-scrollbar-thumb {
    background: #0E4751;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}